<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>dialog demo</title>
  <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
  <div>
      <div id="popup">
          <div id="topLine">
            <p id="headerSign">Booking</p>
            <div id="closeIt"></div>
          </div>
          <div id="message" align="justify">
            <div id="customerData">
              
            </div>
          </div>
          <div id="cancelButton">
            <p id="buttonText">Book</p>
          </div>
      </div>
      <button id="openButton">OpenDialog</button>
  </div>
</body>
</html>
