.firstBlock {
  margin-bottom: 5px;
  display: block;
  background-color: red;
  position: relative;
  width: 100px;
  height: 100px;
  left: 100px;
}

.secondBlock {
  background-color: blue;
  position: relative;
  width: 100px;
  height: 100px;
  left: 100px;
}
